/* COLORES */ 

$color-texto-principal: #ffffff;
$color-texto-secundario: #cfc2d6;

$color-fondo-principal: #1d1d1d;
$color-fondo-oscuro: #16111B;
$color-fondo-profundo: #110C15;
$color-fondo-card: #251f29;

$color-borde-card: #342b3a;

$color-acento: #a833ff;
$color-acento-claro: #be6dff;
$color-acento-texto: #c560f0;

$color-boton-secundario-fondo: rgba(29, 29, 29, 0.71);
